@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Background Images  */

.hero {
  background-image: url('/hero-shape-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #2f38d9;
}

.media {
  background-image: url('/hero-shape-left.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #2f38d9;
}

/* Navigation Menu Styles */
.desktop-nav {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
}

#overlay.open {
  display: block;
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.close-button {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  cursor: pointer;
}

@media (min-width: 640px) {
  .desktop-nav {
    display: block;
  }

  .menu-btn {
    display: none;
  }
}

/* Navigation Active Link Styles */

a {
  cursor: pointer;
}

.desktop-nav .nav-item a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.desktop-nav .nav-item > .active a.active {
  content: '';
  background-color: #ffc436;
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.desktop-nav .nav-item a::before {
  content: '';
  background-color: #ffc436;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.desktop-nav .nav-item a:hover::before {
  bottom: 0;
  height: 100%;
}

.desktop-nav .nav-item a.active::before {
  bottom: 0;
  height: 100%;
}

/* Media Player Styles */

.media .playerWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.media .player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
